# Ignore directories containing images
/images/
/Images/

# Ignore JPG/JPEG files regardless of location
*.jpg
*.jpeg
*.JPG
*.JPEG

# Ignore folder containing byte-compiled, optimized, DLL files
/__pycache__/
*.py[cod]
*$py.class

# Ignore cleaned and merged CSV files due to large file size
*_clean.csv
*_merge.csv

# Ignore macOS specific Desktop Service Store
.DS_Store
**/.DS_Store

# Ignore .env files to keep KEYs safe
.env

# Ignore temporary files
**tmp.*

# Ignore folder checkpoints for Jupyter notebooks 
/.ipynb_checkpoints/checkpoints/*.pkl
vectorized_data/*.pkl
checkpoints/*.pkl
vectorized_data/*.pkl
