# Ignore directories containing images
/images/*
/Images/*
data/raw/images/
data/processed/images/

# Re-include directories with logos and profile pictures
!/images/logos/
!/images/profile_pictures/

# Ignore folder containing byte-compiled, optimized, DLL files
/__pycache__/
*.py[cod]
*$py.class

# Ignore cleaned and merged CSV and Parquet files due to large file size
*_clean.*
*_merge.*

# Ignore macOS specific Desktop Service Store
.DS_Store
**/.DS_Store

# Ignore .env files to keep KEYs safe
.env

# Ignore temporary files
**tmp.*

# Ignore folder checkpoints for Jupyter notebooks 
/.ipynb_checkpoints/checkpoints/*.pkl

# Ingore vectorized data files
data/vectorized_data/*.pkl

# Ignore checkpoints
checkpoints/*.pkl

# Ignore models and model weights except for SVC classifier
/models/*
*.pth
!models/svc_classifier.pkl
!models/tfidfvectorizer_vectorizer.pkl

# Ignore Cross Origin Resource Sharing (CORS) files
cors-config.json

# Virtual environments
rakuten-env*/
rakuten-env/
venv/
env/